* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #f5f7fa;
}

/* NAVBAR */
.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px;
  background:linear-gradient(to right, gold, #1e3a8a);
}

.logo{
  font-size:22px;
}

.nav-links{
  list-style:none;
  display:flex;
  gap:15px;
}

.nav-links a{
  text-decoration:none;
  color:white;
}

/* BUTTON */
.btn-red{
  background:red;
  padding:8px 12px;
  border-radius:5px;
}

/* DROPDOWN */
.dropdown-menu, .sub-menu{
  display:none;
  position:absolute;
  background:#1e293b;
  padding:10px;
}

.dropdown:hover .dropdown-menu{
  display:block;
}

.dropdown-menu li:hover .sub-menu{
  display:block;
  left:150px;
  top:0;
}


/* MOBILE MENU */
.menu-toggle {
  display: none;
  font-size: 25px;
  cursor: pointer;
}

@media(max-width:768px){
  .menu {
    display: none;
    flex-direction: column;
    background: #0a2540;
    position: absolute;
    top: 60px;
    right: 10px;
    padding: 10px;
  }

  .menu.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
}




/* HERO */
.hero {
  padding: 40px;
  text-align: center;
  background: linear-gradient(to right, #4facfe, #00f2fe);
  color: white;
}

.search-bar {
  margin-top: 20px;
}

.search-bar input {
  padding: 12px;
  width: 250px;
  border-radius: 5px;
  border: none;
}

.search-bar button {
  padding: 12px;
  background: #0a2540;
  color: white;
  border: none;
  border-radius: 5px;
}

/* SECTIONS */
.section {
  padding: 30px;
}

.section h2 {
  margin-bottom: 20px;
}

/* CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  border-radius: 10px;
}

/* BUTTON */
.btn {
  display: block;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background: #0a2540;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

/* COLORS */
.residential { background: #eaf6ff; }
.commercial { background: #fff4e6; }
.services { background: #e8fff1; }
.about { background: #f3e8ff; }
.contact { background: #fff0f5; }

/* FOOTER */
footer {
  background: #0a2540;
  color: white;
  text-align: center;
  padding: 15px;
}
